*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
}
nav{
    text-transform: uppercase;
    font-weight: bold;
    padding: 2rem
}
.bg-light{
    background-color: rgb(29, 202, 194) !important;
    top: 0;
    z-index: 1;
    display: blockr;
}

.nav-item{
    margin: 0 2rem;
}

.titulo{
    margin: 0 5rem;
    color: rgb(64, 64, 173);
    
}

.subTitulo{
    margin: 1rem 7rem;
    font-weight: bold;
}

.containerFormulario{
    margin:1rem 8rem;
}


.btn-primary {
    background-color: rgb(4, 109, 104) 
}

.btn-primary:hover{
    background-color:rgb(97, 180, 176);
    color: black;
}
.tablaProductos{
    margin: 5rem;
}
.imgProducto{
    width: 5rem;
    height: 5rem;
}